tunnel: REPLACE_WITH_TUNNEL_UUID
credentials-file: /Users/REPLACE_ME/.cloudflared/REPLACE_WITH_TUNNEL_UUID.json

ingress:
  - hostname: rooms.the-idea-guy.com
    service: http://127.0.0.1:4510
  - hostname: rooms-api.the-idea-guy.com
    service: http://127.0.0.1:4510
  - service: http_status:404
