ROOMWORKS_DATA_DIR=/Users/REPLACE_ME/Library/Application Support/Roomworks/data
SIGNALING_ALLOWED_ORIGINS=https://rooms.the-idea-guy.com,http://localhost:5200
ROOMWORKS_CREATOR_VERIFY_KEY=REPLACE_WITH_BASE64URL_ED25519_PUBLIC_KEY
